/** STYLES **/
html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
}

.tile {
  height: 8em !important;
  font-size: 1.25em;
  color: white !important;
  text-shadow: 5px 5px 5px black !important;
}

p {
  text-indent: 50px;
}

header h1 {
  font-size: 1.1em !important;
  font-weight: 200;
}

h2 {
  font-weight: 1000 !important;
  font-size: 2em;
}

#tile-1 {
  background: url("../assets/american-dipper-background.jpg");
  /*background-color: #4285f4;*/
}

#tile-1 {
  background: url("../assets/american-dipper-background.jpg");
}

.ui-content {
  font-weight: 400;
  background: rgba(255,255,255,0.7);
}

.ui-page-theme-a {
	text-shadow: none;
}

.ui-block-a, .ui-block-b, .ui-block-c {
  padding: 0 0.5em !important;
}

.info-banner {
  width: 100% !important;
}

/* Tile Background Images */
.tile-1 {
  background: url('../assets/AmericanRobin.jpg') center;
  background-size: cover;
}

.tile-2 {
  background: url('../assets/BlackBilledMagpie.jpg') center;
  background-size: cover;
}

.tile-3 {
  background: url('../assets/NorthernFlicker.jpg') center;
  background-size: cover;
}

.tile-4 {
  background: url('../assets/CommonMerganser.jpg') center;
  background-size: cover;
}

.tile-5 {
  background: url('../assets/WesternMeadowlark.jpg') center;
  background-size: cover;
}

.tile-6 {
  background: url('../assets/RedWingedBlackbird.jpg') center; 
  background-size: cover;
}

.tile-7 {
  background: url('../assets/BroadTailedHummingbird.jpg') center;
  background-size: cover;
}

.tile-8 {
  background: url('../assets/RedTailedHawk.jpg') center; 
  background-size: cover;
}

.tile-9 {
  background: url('../assets/AmericanDipper.jpg') center; 
  background-size: cover;
}