/** STYLES **/

.tile {
  height: 4em !important;
  font-size: 1.25em;
}

header h1 {
  font-size: 2em !important;
}

.back-button {
  font-size: 1.5em !important;
}

#tile-1 {
  background-color: #4285f4;
}

.ui-page-theme-a {
	text-shadow: none;
}

.info-banner {
  width: 66.66% !important;
}

/* Tile Background Images */
.tile-1 {
  background: url('../assets/American_Dipper_Habitat.jpg') center no-repeat;
}