/** ==================================================
======================= STYLES =================== **/
html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
}

p {
  text-indent: 50px;
}

header h1 {
  font-size: 1.1em !important;
  font-weight: 200;
}

h2 {
  font-weight: 1000 !important;
  font-size: 2em;
}

.ui-title {
  width: 100%;
  margin: 0 auto !important;
}

.ui-content {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.2);
  height: 600px;
}

#home .ui-content {
  background: rgb(255, 255, 255) !important;
}

.ui-page-theme-a {
  text-shadow: none;
}

.ui-block-a, .ui-block-b, .ui-block-c {
  padding: 0 0.5em !important;
}

figcaption {
  color: gray;
  font-size: .8em;
}

.logo-image {
  display: block;
  margin: 0 auto;
}

.ui-btn-left {
  margin-left: 1em !important;
  margin-top: 2.5px !important;
}

.ui-btn-right {
  margin-right: 1em !important;
  height: 15px !important;
  margin-top: 2.5px !important;
}

/** --------- PAGES --------- **/
#page-1 {
  background: url("../assets/american_robin_background.jpg") center;
  /*background-color: #4285f4;*/
  background-size: 1400px 1000px !important;
  color: white;
}

#page-2 {
  background: url("../assets/black_billed_magpie_background.jpg");
  background-size: 1400px 1000px !important;
  color: white;

}

#page-3 {
  background: url("../assets/northern_flicker_background.jpg") center;
  background-size: 1400px 1000px !important;
  color: white;
}

#page-4 {
  background: url("../assets/common_merganser_background.jpg") center;
  background-size: 1400px 1000px !important;
  color: white;
}

#page-5 {
  background: url("../assets/western_meadowlark_background.jpg") center;
  background-size: 1400px 1000px !important;
  color: white;
}

#page-6 {
  background: url("../assets/red_winged_blackbird.jpg") ;
  background-size: 1400px 1000px !important;
  color: white;
}

#page-7 {
  background: url("../assets/hummingbird_background.jpg") center;
  background-size: 1400px 1000px !important;
  color: white;
}

#page-8 {
  background: url("../assets/red_tailed_hawk_background.jpg");
  background-size: 1400px 1000px !important;
  color: white;
  
}

#page-9 {
  background: url("../assets/american-dipper-background.jpg") center;
  background-size: 1400px 1000px !important;
  color: white;
}

/** --------- TILES --------- **/
.tile {
  height: 8em !important;
  font-size: 1.25em;
  color: black !important;
  text-shadow: 5px 5px 5px black !important;
}

.tile-1 {
  background: url('../assets/AmericanRobin.jpg') center;
  background-size: cover;
}

.tile-2 {
  background: url('../assets/BlackBilledMagpie.jpg') center;
  background-size: cover;
}

.tile-3 {
  background: url('../assets/NorthernFlicker.jpg') center;
  background-size: cover;
}

.tile-4 {
  background: url('../assets/CommonMerganser.jpg') center;
  background-size: cover;
}

.tile-5 {
  background: url('../assets/WesternMeadowlark.jpg') center;
  background-size: cover;
}

.tile-6 {
  background: url('../assets/RedWingedBlackbird.jpg') center; 
  background-size: cover;
}

.tile-7 {
  background: url('../assets/BroadTailedHummingbird.jpg') center;
  background-size: cover;
}

.tile-8 {
  background: url('../assets/RedTailedHawk.jpg') center; 
  background-size: cover;
}

.tile-9 {
  background: url('../assets/AmericanDipper.jpg') center; 
  background-size: cover;
}